<form action="#" method="POST">
  <div class="">
    <div class="px-4 py-5space-y-6 sm:p-6">
      <div class="grid grid-cols-3 gap-6">
        <div class="col-span-3">
          <label for="name" class="text-md font-medium text-gray-700">
            Name
          </label>
          <div class="mt-2 rounded-md shadow-sm">
            <input
              type="text"
              name="name"
              id="name"
              class="border-b-green-500 focus:ring-green-500 focus:border-green-500 rounded-none rounded-r-md w-full"
              placeholder="Enter Name"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
      <button
        type="submit"
        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-500 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
      >
        Save
      </button>
    </div>
  </div>
</form>
